#githubicon {
    color: rgba(255, 255, 255, .5);
}

#githubicon:hover {
    color: #fff;
}

#sortlabel {
    cursor: pointer;
}

#jobinfotable {
    table-layout: fixed;
}

.classOpen {
    color: #3CB371;
}

.classClosed {
    color: #FF6347;
}