/* all */
.navbar {
    margin-bottom: 30px;
}

ul {
    list-style-type: none
}

/* side navbar*/
.bd-toc {
    position: sticky;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 30px;
    font-size: 0.875rem;
    top: 4rem;
    height: calc(100vh - 4rem);
}

.section-nav {
    padding-left: 0;
    border-left: 1px solid #eee;
}

.toc-entry {
    display: block;
    padding: .125rem 1.5rem;
    color: #77757a;
}

.toc-entry:hover {
    color: #007bff;
    cursor: pointer;
}

/* github icon */
#githubicon {
    color: rgba(255, 255, 255, .5);
}

#githubicon:hover {
    color: #fff;
}

/* sort label pointer */
#sortlabel {
    cursor: pointer;
}

/* comment number */
#comNumber {
    text-decoration: none;
    color: inherit;
    cursor: text;
}

/* job infor table */
#jobinfotable {
    table-layout: fixed;
}

/* class status color */
.classOpen {
    color: #3CB371;
}

.classClosed {
    color: #FF6347;
}

/* bootstrap bd-callout */
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout + .bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}