{% extends "base.html" %}
{% block content %}
    <div class="container">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
            <div class="col-1 col-md-1">公司：</div>
            <div class="col-17 col-md-11">
                <button type="button" class="btn btn-outline-dark">全部</button>
                <button type="button" class="btn btn-outline-dark">bytedance</button>
                <button type="button" class="btn btn-outline-dark">Dark</button>
            </div>
        </div>
        <br>
        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row">
            <div class="col-1 col-md-1">地点：</div>
            <div class="col-17 col-md-11">
                <button type="button" class="btn btn-outline-dark">全部</button>
                <button type="button" class="btn btn-outline-dark">北京</button>
                <button type="button" class="btn btn-outline-dark">上海</button>
                <button type="button" class="btn btn-outline-dark">杭州</button>
                <button type="button" class="btn btn-outline-dark">深圳</button>
                <button type="button" class="btn btn-outline-dark">武汉</button>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="container">
        <div class="row table-responsive">
            <table class="table table-hover" id="jobinfotable">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">职位名称</th>
                    <th scope="col">公司</th>
                    <th scope="col">地点</th>
                    <th scope="col">发布日期</th>
                </tr>
                </thead>
                {% if data %}
                    <tbody>
                    {% for job in data %}
                        <tr>
                            <td>{{ job.get('name') }}</td>
                            <td>{{ job.get('company') }}</td>
                            <td>{{ job.get('city') }}</td>
                            <td>{{ job.get('create_time').split(' ')[0] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>
    </div>
    <div class="container">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled" id="page_pre">
                    <span class="page-link" onclick="jobinfo_Pagination(-10)">Previous</span>
                </li>
                <!--
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                -->
                <li class="page-item" id="page_next">
                    <a class="page-link" onclick="jobinfo_Pagination(10)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}