<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Search Course</title>
</head>
<body>
<h1>Search</h1>
<div class="container">
    <div class="row">
        <div class="col-xl">
            <form method="post" action="/">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Class Title</label>
                        <input type="text" name="class_title" class="form-control" id="inputTitle"
                                {% if Filter.get('class_title') %}
                                    placeholder={{ Filter['class_title'] }}
                                {% endif %}
                        >
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Class Number</label>
                        <input type="text" name="class_number" class="form-control" id="inputNumber"
                                {% if Filter.get('class_number') %}
                                    placeholder={{ Filter['class_number'] }}
                                {% endif %}
                        >
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputAddress">Class Section</label>
                        <input type="text" name="class_section" class="form-control" id="inputSection"
                                {% if Filter.get('class_section') %}
                                    placeholder={{ Filter['class_section'] }}
                                {% endif %}
                        >
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputAddress2">Class Instructor</label>
                        <input type="text" name="class_instructor" class="form-control" id="inputInstructor"
                                {% if Filter.get('class_instructor') %}
                                    placeholder={{ Filter['class_instructor'] }}
                                {% endif %}
                        >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputState">Class Day</label>
                        <select id="inputState" name="class_day" class="form-control">
                            <option></option>
                            <option>Monday & Wednesday</option>
                            <option>Tuesday & Thursday</option>
                            <option>Friday</option>
                            <option>Monday</option>
                            <option>Tuesday</option>
                            <option>Wednesday</option>
                            <option>Thursday</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="start time">Class Start Time</label>
                        <select name="class_start_time" class="form-control" id="startTime">
                            <option></option>
                            <option>8:30</option>
                            <option>9:00</option>
                            <option>10:00</option>
                            <option>11:00</option>
                            <option>11:30</option>
                            <option>12:00</option>
                            <option>13:00</option>
                            <option>14:00</option>
                            <option>14:30</option>
                            <option>15:00</option>
                            <option>16:00</option>
                            <option>17:00</option>
                            <option>17:30</option>
                            <option>19:00</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="end Time">Class End Time</label>
                        <select name="class_end_time" class="form-control" id="endTime">
                            <option></option>
                            <option>9:45</option>
                            <option>10:15</option>
                            <option>11:15</option>
                            <option>12:15</option>
                            <option>12:45</option>
                            <option>13:15</option>
                            <option>14:15</option>
                            <option>15:15</option>
                            <option>15:45</option>
                            <option>16:15</option>
                            <option>17:15</option>
                            <option>18:15</option>
                            <option>18:45</option>
                            <option>20:15</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputZip">Location</label>
                        <input type="text" name="class_location" class="form-control" id="inputLocation"
                                {% if Filter.get('class_location') %}
                                    placeholder={{ Filter['class_location'] }}
                                {% endif %}
                        >
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" name="fuzzyquery" type="checkbox" id="gridCheck" value="1"
                               checked>
                        <label class="form-check-label" for="gridCheck">
                            模糊查询
                        </label>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-4">
                        <button type="submit" name="search" class="btn btn-primary">Search</button>
                        <button type="submit" name="nowclass" class="btn btn-primary">At this moment</button>
                    </div>
                    <!--
                    <div class="col-2">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary" id="19s" onclick="changesource('19s')">
                                <input type="radio" id="option19s"
                                       autocomplete="off"> 19s
                            </label>
                            <label class="btn btn-secondary" id="18f" onclick="changesource('18f')">
                                <input type="radio" id="option18f"
                                       autocomplete="off"> 18f
                            </label>
                        </div>
                    </div>-->
                </div>


            </form>
        </div>
    </div>
    <br>
    <div class="row table-responsive">
        <div class="col-xl">
            <table class="table table-sm table-hover">
                <tbody>
                {% if data %}
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">class title</th>
                        <th scope="col">class number</th>
                        <th scope="col">class section</th>
                        <th scope="col">class instructor</th>
                        <th scope="col">class day</th>
                        <th scope="col">class time</th>
                        <th scope="col">class location</th>
                        <th scope="col">class isFull</th>
                    </tr>
                    </thead>
                    {% for course in data %}
                        <th scope="row">{{ data.index(course)+1 }}</th>
                        <td>{{ course['class_title'] }}</td>
                        <td>{{ course['class_number'] }}</td>
                        <td>
                            {% if 'CS' in course['class_section'] %}
                                <a href={{ "https://catalog.utdallas.edu/2018/graduate/courses/cs%s"%course['class_section'].split(' ')[1].split('.')[0] }} target="_blank">{{ course['class_section'] }}</a>
                            {% elif 'CE' in course['class_section'] %}
                                <a href={{ "https://catalog.utdallas.edu/2018/graduate/courses/ce%s"%course['class_section'].split(' ')[1].split('.')[0] }} target="_blank">{{ course['class_section'] }}</a>
                            {% elif 'EE' in course['class_section'] %}
                                <a href={{ "https://catalog.utdallas.edu/2018/graduate/courses/ee%s"%course['class_section'].split(' ')[1].split('.')[0] }} target="_blank">{{ course['class_section'] }}</a>
                            {% elif 'SE' in course['class_section'] %}
                                <a href={{ "https://catalog.utdallas.edu/2018/graduate/courses/se%s"%course['class_section'].split(' ')[1].split('.')[0] }} target="_blank">{{ course['class_section'] }}</a>

                            {% else %}
                                {{ course['class_section'] }}
                            {% endif %}
                        </td>
                        <td>
                            <a href={{ url_for('findrate', name=course['class_instructor']) }} target="_blank"
                               name="ratemyprofessors">{{ course['class_instructor'] }}</a>
                        </td>
                        <td>{{ course['class_day'] }}</td>
                        <td>{{ course['class_time'] }}</td>
                        <td>{{ course['class_location'] }}</td>
                        <td>{{ course['class_isFull'] }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var data_source = {{ DATA_SOURCE|tojson }};
    var data_source_element = document.getElementById(data_source);
    if (data_source == '18f') {
        document.getElementById('18f').classList.add('active');
        document.getElementById('19s').classList.remove('active');
    } else {
        document.getElementById('19s').classList.add('active');
        document.getElementById('18f').classList.remove('active');
    }

    function changesource(click_source) {
        if (data_source != click_source) {
            window.location.href = '/changesource/' + click_source;
        }

    }
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>