{% extends "base.html" %}
{% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row align-self-end">
            <div class="card">
                <div class="card-header">
                    404
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>
                            The HTTP 404, 404 Not Found, and 404 error message is a Hypertext Transfer Protocol (HTTP)
                            standard response code, in computer network communications, to indicate that the client was
                            able to communicate with a given server, but the server could not find what was requested.

                            The website hosting server will typically generate a "404 Not Found" web page when a user
                            attempts to follow a broken or dead link; hence the 404 error is one of the most
                            recognizable errors encountered on the World Wide Web.</p>
                        <footer class="blockquote-footer">From <cite title="Source Title">Wikipedia</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
{% endblock %}