{% extends "base.html" %}
{% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row align-self-end">
            <div class="card">
                <div class="card-header">
                    500
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>A generic error message, given when an unexpected condition was encountered and no more
                            specific message is suitable.</p>
                        <footer class="blockquote-footer">From <cite title="Source Title">Wikipedia</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
{% endblock %}