{% extends "base.html" %}
{% block content %}
    {% if not professor_name %}
        <div class="container">
            <div class="bd-callout bd-callout-info">
                <h5>Comment <i class="fas fa-comments"></i></h5>
                <p>Leave your comments below to help others make better choices.</p>
            </div>
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">professor</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                {% for eachprofessor in professor_list %}
                    <tr>
                        <td>
                            <a href="/comment/{{ eachprofessor }}"> {{ eachprofessor }}</a>
                        </td>
                        <td class="disqus-comment-count" data-disqus-identifier="{{ eachprofessor }}"></td>
                        {#                        <td><a href="#isso-thread" data-isso-id="{{ eachprofessor }}" id="comNumber"></a></td>#}
                    </tr>
                {% endfor %}
            </table>
            <script id="dsq-count-scr" src="//fakecoursebook.disqus.com/count.js" async></script>
        </div>
        {#        <script data-isso="//localhost:8080" src="//localhost:8080/js/count.min.js" data-isso-lang="en"></script>#}
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>{{ professor_name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if section_title_list %}
                        {#                        <div class="list-group">#}
                        {#                            {% for section_title in section_title_list %}#}
                        {#                                <button type="button" class="list-group-item list-group-item-action" data-toggle="list"#}
                        {#                                        onclick="comment_section('{{ section_title }}','{{ professor_name }}')">#}
                        {#                                    {{ section_title }}#}
                        {#                                </button>#}
                        {#                            {% endfor %}#}
                        {#                        </div>#}
                        <div>
                            <ul class="list-group">
                                {% for section_title in section_title_list %}
                                    <li class="list-group-item">{{ section_title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            {#            <div class="row">#}
            {#                <div class="col" id="comment-section">#}
            {#                    <section id="isso-thread" data-isso-id="{{ professor_name }}"></section>#}
            {#                </div>#}
            {#            </div>#}
            <div class="row" id="disqus_thread"></div>
            <script>
                var disqus_config = function (identifier) {
                    return function () {
                        {#this.page.url = '/comment/' + identifier;#}
                        this.page.identifier = identifier; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    }
                }('{{ professor_name }}')
            </script>
        </div>
        {#                <script data-isso="//localhost:8080" src="//localhost:8080/js/embed.min.js"#}
        {#                        data-isso-reply-to-self="false"#}
        {#                        data-isso-lang="en"#}
        {#                        data-isso-vote="true">#}
        {#                </script>#}

    {% endif %}
{% endblock %}