{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ professor_name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if section_title_list %}
                    <div class="list-group">
                        {% for section_title in section_title_list %}
                            <button type="button" class="list-group-item list-group-item-action" data-toggle="list"
                                    onclick="comment_section('{{ section_title }}','{{ professor_name }}')">
                                {{ section_title }}
                            </button>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col" id="comment-section">
                <section id="isso-thread" data-title="Foo!" data-isso-id="19S_6379"></section>
            </div>
        </div>
        <script data-isso="//localhost:8080" src="//localhost:8080/js/embed.min.js"
                data-isso-reply-to-self="false"
                data-isso-lang="en"></script>
    </div>
{% endblock %}