{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row flex-xl-nowrap">
            <main class="bd-content" role="main">
                <p><h4 class="display-4">{{ professor_name }}</h4></p>
                <h2 id="links">Links</h2>
                <button type="button" class="btn btn-info"
                        onclick="custom_search_button('{{ professor_name }}')">
                    Introduction
                </button>
                <a href={{ url_for('main.findrate', name=professor_name) }} target="_blank"
                   name="ratemyprofessors">
                    <button type="button" class="btn btn-info">Ratemyprofessor</button>
                </a>
                <div class="spinner-grow" role="status" id="spinner-grow">
                    <span class="sr-only">Loading...</span>
                </div>
                <b id="rate-value"></b>
                <script>fill_rate_value("{{ professor_name }}");</script>

                <h2 id="courses">Courses</h2>
                <div class="bd-callout bd-callout-info">
                    <p>Charts on this page show what courses the professor has taught in past semesters.
                        You can view the chart of that course by clicking on the leaf node.</p>
                </div>
                <div class="col-md-auto" id="graph" style="width:100%;height:500px;"></div>
                {% set datasource=professor_json %}
                <script>from_left_to_right_tree({{ datasource|tojson }}, 1, "graph");</script>

                {% if speed_data_dict %}
                    <h2 id="status">Status</h2>
                    <div class="bd-callout bd-callout-info">
                        <p>The chart below shows the elective status of each section in each semester.</p>
                    </div>
                    <div class="container">
                        {% for coursesection in speed_data_dict %}
                            <div class="row">
                                <h4>{{ coursesection }}</h4>
                            </div>
                            {% set speed_data_dict_dict = speed_data_dict.get(coursesection) %}
                            {% for each_term in speed_data_dict_dict %}
                                <div class="row">
                                    <h5>{{ each_term }}</h5>
                                </div>
                                <div class="row">
                                    {% set speed_data_each_term = speed_data_dict_dict.get(each_term) %}
                                    {% for each_section in speed_data_each_term %}
                                        <div class="col-lg-6">
                                            {% set graph_id=each_term+each_section.replace(" ","") %}
                                            <p>{{ each_section }}
                                                | {{ (" ").join(speed_data_each_term.get(each_section).get("class_instructor")) }}</p>
                                            <div class="col-md-auto"
                                                 id={{ graph_id }} style="width:100%;height:350px;"></div>
                                            <script>basic_line_chart({{ speed_data_each_term.get(each_section).get("x_data")|tojson }}, {{ speed_data_each_term.get(each_section).get("y_data")|tojson }}, "{{ graph_id }}")</script>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if grade_dict_list %}
                    <h2 id="grades">Grades</h2>
                    <div class="bd-callout bd-callout-info">
                        <p>Data comes from the UTD GRADES website. You can visit <a href="https://utdgrades.com/"
                                                                                    target="_blank">utdgrades.com</a>
                            for more information.</p>
                    </div>
                    <div class="container">
                        {% for each_dict in grade_dict_list %}
                            {% set hide_id=each_dict.get("section").replace(" ","") %}
                            <div class="row">
                                <h4 class="cour-prof-page-hide" id="p-{{ hide_id }}">{{ each_dict.get("section") }}
                                    {% if each_dict.get("badges") %}
                                        {% for badge in each_dict.get("badges") %}
                                            <span class="badge badge-pill badge-light"
                                                  id="semester-badge">{{ badge }}</span>
                                        {% endfor %}
                                    {% endif %}
                                    <i class="fas fa-eye"></i></h4>
                            </div>
                            <div class="row collapse show" id="{{ hide_id }}">
                                {% for each_term_section_dict in each_dict.get("grade") %}
                                    <div class="col-lg-6">
                                        {% for each_term_section in each_term_section_dict %}
                                            {% set graph_id=(each_dict.get("prof")+each_term_section).replace(" ","") %}
                                            <p>{{ each_term_section }} <img id="people-fill-icon"
                                                                            src="{{ url_for('static', filename='people-fill.svg') }}"
                                                                            alt=""
                                                                            width="25" height="25"
                                                                            title="people-fill">{{ each_term_section_dict.get(each_term_section).values()|sum() }}
                                            </p>
                                            <div id="{{ graph_id }}" style="width:100%;height:250px;"></div>
                                            <script>pie_doughnut_chart({{ each_term_section_dict.get(each_term_section)|tojson }}, "{{ graph_id }}")</script>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <script>course_grade_icon_init_collapse_close({{ grade_dict_list|tojson }}, "section")</script>
                    </div>
                {% endif %}

                <h2 id="comments">Comments</h2>
                <div class="bd-callout bd-callout-info">
                    <p>Leave your opinion and help others make better choices.</p>
                </div>
                <div class="row" id="disqus_thread"></div>
            </main>
            <nav class="d-none d-xl-block bd-toc" aria-label="Secondary navigation">
                <ul class="section-nav">
                    <li class="toc-entry toc-h2" id="nav-links">Links</li>
                    <li class="toc-entry toc-h2" id="nav-courses">Courses</li>
                    {% if speed_data_dict %}
                        <li class="toc-entry toc-h2" id="nav-status">Status</li>
                    {% endif %}
                    {% if grade_dict_list %}
                        <li class="toc-entry toc-h2" id="nav-grades">Grades</li>
                    {% endif %}
                    <li class="toc-entry toc-h2" id="nav-comments">Comments</li>
                </ul>
                <script>side_nav_init()</script>
            </nav>
        </div>
    </div>
    <script>
        var disqus_config = function (identifier) {
            return function () {
                {#this.page.url = '/comment/' + identifier;#}
                this.page.identifier = identifier; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            }
        }('{{ professor_name }}')
    </script>
{% endblock %}