{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row collapse" id="search-tool">
            <div class="col-xl">
                <form method="post" action="/">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Class Title</label>
                            <input type="text" name="class_title" class="form-control" id="inputTitle"
                                    {% if Filter.get('class_title') %}
                                        placeholder={{ Filter['class_title'] }}
                                    {% endif %}
                            >
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Class Number</label>
                            <input type="text" name="class_number" class="form-control" id="inputNumber"
                                    {% if Filter.get('class_number') %}
                                        placeholder={{ Filter['class_number'] }}
                                    {% endif %}
                            >
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputAddress">Class Section</label>
                            <input type="text" name="class_section" class="form-control" id="inputSection"
                                    {% if Filter.get('class_section') %}
                                        placeholder={{ Filter['class_section'] }}
                                    {% endif %}
                            >
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputAddress2">Class Instructor</label>
                            <input type="text" name="class_instructor" class="form-control" id="inputInstructor"
                                    {% if Filter.get('class_instructor') %}
                                        placeholder={{ Filter['class_instructor'] }}
                                    {% endif %}
                            >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputState">Class Day</label>
                            <select id="inputState" name="class_day" class="form-control">
                                <option></option>
                                <option>Monday & Wednesday</option>
                                <option>Tuesday & Thursday</option>
                                <option>Friday</option>
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thursday</option>
                                <option>Saturday</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="start time">Class Start Time</label>
                            <select name="class_start_time" class="form-control" id="startTime">
                                <option></option>
                                <option>8:30</option>
                                <option>9:00</option>
                                <option>10:00</option>
                                <option>11:00</option>
                                <option>11:30</option>
                                <option>12:00</option>
                                <option>13:00</option>
                                <option>14:00</option>
                                <option>14:30</option>
                                <option>15:00</option>
                                <option>16:00</option>
                                <option>17:00</option>
                                <option>17:30</option>
                                <option>19:00</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="end Time">Class End Time</label>
                            <select name="class_end_time" class="form-control" id="endTime">
                                <option></option>
                                <option>9:45</option>
                                <option>10:15</option>
                                <option>11:15</option>
                                <option>12:15</option>
                                <option>12:45</option>
                                <option>13:15</option>
                                <option>14:15</option>
                                <option>15:15</option>
                                <option>15:45</option>
                                <option>16:15</option>
                                <option>17:15</option>
                                <option>18:15</option>
                                <option>18:45</option>
                                <option>20:15</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputZip">Location</label>
                            <input type="text" name="class_location" class="form-control" id="inputLocation"
                                    {% if Filter.get('class_location') %}
                                        placeholder={{ Filter['class_location'] }}
                                    {% endif %}
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" name="fuzzyquery" type="checkbox" id="gridCheck" value="1"
                                   checked>
                            <label class="form-check-label" for="gridCheck">
                                Fuzzy Query
                            </label>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col">
                            <button type="submit" name="search" class="btn btn-primary">Search</button>
                            <button type="submit" name="nowclass" class="btn btn-primary">At this moment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary" id="p-search-tool">Search <i
                        class="fas fa-chevron-circle-down"></i></button>
            </div>
            <div class="col-md-auto">
                Last update:
                {% if data_update_time %}
                    {{ moment(data_update_time).format('lll') }}
                {% endif %}
                <br>
                Next update:
                {% if data_update_next_time %}
                    {{ moment(data_update_next_time).format('lll') }}
                {% endif %}
            </div>
            <div class="col col-lg-2">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active" id="20U">
                        <input type="radio" autocomplete="off"> 20U
                    </label>
                    <label class="btn btn-secondary" id="20F">
                        <input type="radio" autocomplete="off"> 20F
                    </label>
                </div>
            </div>
        </div>
        <div class="row table-responsive">
            <div class="col">
                <table class="table table-sm table-hover" id="search-page-table">
                    {% if data %}
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">class term</th>
                            <th scope="col" id="sortlabel"
                                onclick='sortForSearchGraph(2,"Search")'>class
                                status
                            </th>
                            <th scope="col" id="sortlabel"
                                onclick='sortForSearchGraph(3,"Search")'>class
                                title
                            </th>
                            <th scope="col" id="sortlabel"
                                onclick='sortForSearchGraph(4,"Search")'>class
                                number
                            </th>
                            <th scope="col" id="sortlabel"
                                onclick='sortForSearchGraph(5,"Search")'>class
                                section
                            </th>
                            <th scope="col" id="sortlabel"
                                onclick='sortForSearchGraph(6,"Search")'>class
                                instructor
                            </th>
                            <th scope="col">class day</th>
                            <th scope="col">class time</th>
                            <th scope="col">class location</th>
                            <th scope="col" id="sortlabel"
                                onclick='sortForSearchGraph(10,"Search")'>class
                                isFull
                            </th>
                        </tr>
                        </thead>

                        {% for course in data %}
                            <tr>
                                <th scope="row">{{ data.index(course)+1 }}</th>
                                <td>{{ course['class_term'] }}</td>
                                <td>{{ course['class_status'] }}</td>
                                <td>{{ course['class_title'] }}</td>
                                <td>{{ course['class_number'] }}</td>
                                <td>
                                    <a href={{ "/course/{0}".format(course['class_section'].replace(' ','%20').split('.')[0]) }} target="_blank">{{ course['class_section'] }}</a>
                                </td>
                                <td>
                                    {% if course['class_instructor']|length > 1 %}
                                        {% for eachinstructor in course['class_instructor'] %}
                                            {% if eachinstructor != '-Staff-' %}
                                                <a href={{ url_for('main.course', professor=eachinstructor) }} target="_blank">{{ eachinstructor }}</a>
                                                ;
                                            {% else %}
                                                {{ eachinstructor }};
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for eachinstructor in course['class_instructor'] %}
                                            {% if eachinstructor != '-Staff-' %}
                                                <a href={{ url_for('main.course', professor=eachinstructor) }} target="_blank">{{ eachinstructor }}</a>
                                            {% else %}
                                                {{ eachinstructor }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>{{ course['class_day'] }}</td>
                                <td>{{ course['class_time'] }}</td>
                                <td>{{ course['class_location'] }}</td>
                                <td>{{ course['class_isFull'] }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    <script>search_page_init();</script>
{% endblock %}